{{!--
@Author: Colin Osterhout <ctosterhout>
@Date:   2017-08-06T12:12:01-08:00
@Email:  ctosterhout@alaska.edu
@Project: BERT
@Last modified by:   ctosterhout
@Last modified time: 2017-08-06T13:44:10-08:00
@License: Released under MIT License. Copyright 2016 University of Alaska Southeast.  For more details, see https://opensource.org/licenses/MIT
--}}

<h2>{{program.title}}</h2>
{{{program.customfields.description}}}
